/**
 * @file Styling for the PDF.js widget
 * @author griffinj@lafayette.edu
 *
 */

.islandora-pdf-content {

    height: 431px;
    padding: inherit;
}

body.no-sidebars .islandora-pdf-content {

    width: 100%;
}

#scaleSelectContainer {

    max-width: inherit !important;
    min-width: inherit !important;
    width: 50%;
}

#scaleSelect {

    height: 16px;
}

html[dir="ltr"] #toolbarViewerLeft, html[dir="rtl"] #toolbarViewerRight {

    position: inherit;
}

html[dir="ltr"] .innerCenter {

    right: -75%;
}

#thumbnailView {

    width: inherit;
}

.thumbnailImage {

    -moz-box-sizing: inherit;
}

/**
 * Ensuring that the status message is visible
 * Resolves DSSSM-1148
 *
 */
#viewerContainer .statusMessage {
    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-top: 48px;
    text-align: center;
}
